@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;

}


.navbar-nav > li > a {
    padding: 10px 20px;
}
.navbar-nav > li > a:hover {
    color: #337ab7 !important;
}
.phone-icon {
    margin-left: 10px;
}
@media (max-width: 768px) {
    .navbar-text {
        display: none;
    }
}
footer {
    display: flex;
    justify-content: space-around;
}
.carousel-item img {
    display: block;
    margin: 0 auto; 
}